@model ChipShip.Models.ViewModels.ViewShoppingCart
@{
    ViewBag.Title = "ActiveOrders";
}
@using (Html.BeginForm("PurchasedOrder", "Deliverer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<h2>@Model.UserName</h2>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Results</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    @foreach (var d in Model.shoppingCart)
    {
        foreach (var item in d)
        {
            <tr>
                <td>@Html.DisplayFor(temp => d[0].name)</td>
                <td>@Html.DisplayFor(temp => d[0].salePrices)</td>
                <td>@Html.DisplayFor(temp => d[0].amount)</td>
            </tr>
        }
    }
    <tr>
        <th>Total Price</th>
    </tr>
    <tr>
        <th>@Model.TotalPrice</th>
    </tr>
</table>

    <h4>@Html.ActionLink("Send Message", "SendMessage", "Deliverer", new { userId = Model.userId }, null)</h4>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfTfQ9EoYEotKPAfWCncS40aCDuV88co&callback=initMap">
</script>
@section scripts {
    @Scripts.Render("~/Scripts/CurrentGeoLocation.js")
}
<div class="form-group">
    @Html.HiddenFor(m => m.userId )
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Purchased Order" />
    </div>
</div>
}