@model ChipShip.Models.ViewModels.ViewShoppingCart
@{
    ViewBag.Title = "OrderInProgress";
}

<br />
<br />
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Results</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    @foreach (var d in Model.shoppingCart)
    {
        foreach (var item in d)
        {
            <tr>
                <td>@Html.DisplayFor(temp => d[0].name)</td>
                <td>@Html.DisplayFor(temp => d[0].salePrices)</td>
                <td>@Html.DisplayFor(temp => d[0].amount)</td>
            </tr>
        }
    }
    <tr>
        <th>Total Price Of Items</th>
    </tr>
    <tr>
        <th>@Model.TotalPrice</th>
    </tr>
    <tr>
        <th>Delivery Charge</th>
    </tr>
    <tr>
        <th>@Model.deliveryPrice</th>
    </tr>
    <tr>
        <th>Final Price</th>
    </tr>
    <tr>
        <th>@Model.finalPrice</th>
    </tr>      
</table>
<h2>@Model.OrderStatus</h2>
<h2>Deliverer Rating @Model.rating</h2>
@if (Model.message != null)
{
    <style>
        h1 {
            color: red;
        }
    </style>
    <h1>@Model.message</h1>
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
      function initMap() {
        var uluru = {lat: @Model.lat , lng: @Model.lng };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfTfQ9EoYEotKPAfWCncS40aCDuV88co&callback=initMap">
</script>